nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(0,0,0,0) 85%);
    z-index: 99;
}

.logo {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
}

.logo img {
    width: 1.6rem;
    height: 1.6rem;
}

nav ul {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    color: gray;
}

nav ul li {
    padding-top: .3rem;
    list-style: none;
    transition: .3s;
}

nav ul li:hover {
    color:white;
    transition: .3s;
}

.active {
    color:white;
    transition: .3s;
}